name: Build & Deploy to ECS (Production)

on:
  workflow_dispatch:

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
  ECS_CLUSTER: ${{ secrets.ECS_CLUSTER }}
  ECS_SERVICE: ${{ secrets.ECS_SERVICE }}

  ECS_TASK_DEFINITION: ${{ secrets.ECS_TASK_DEFINITION }}
  PRIVATE_SUBNET_1: ${{ secrets.PRIVATE_SUBNET_1 }}
  PRIVATE_SUBNET_2: ${{ secrets.PRIVATE_SUBNET_2 }}
  ECS_SG: ${{ secrets.ECS_SG }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Image
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          IMAGE_URI=$AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY

          docker build -t $IMAGE_URI:$IMAGE_TAG -t $IMAGE_URI:latest .
          docker push $IMAGE_URI:$IMAGE_TAG
          docker push $IMAGE_URI:latest

      - name: Run DB migrations (ECS)
        run: |
          set -e
          TASK_ARN=$(aws ecs run-task \
            --cluster $ECS_CLUSTER \
            --task-definition $ECS_TASK_DEFINITION \
            --launch-type FARGATE \
            --network-configuration "awsvpcConfiguration={subnets=[$PRIVATE_SUBNET_1,$PRIVATE_SUBNET_2],securityGroups=[$ECS_SG],assignPublicIp=DISABLED}" \
            --overrides '{"containerOverrides":[{"name":"app","command":["npm","run","migrate"]}]}' \
            --query 'tasks[0].taskArn' \
            --output text)

          aws ecs wait tasks-stopped \
            --cluster $ECS_CLUSTER \
            --tasks $TASK_ARN

      - name: Deploy ECS Service
        run: |
          aws ecs update-service \
            --cluster $ECS_CLUSTER \
            --service $ECS_SERVICE \
            --force-new-deployment
